@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.herobg {
    background-image: url('./assets/images/herobanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.font-inter {
  font-family: 'Inter', sans-serif !important;
}

.font-playfair {
  font-family: 'Playfair Display', serif !important;
}
